{% extends template.self %}

{% block body %}
<div class="amf-header box imported is-paddingless">
    <nav class="nav">
        <div class="nav-left nav-menu">
            <span class="logo-wrapper nav-item">
                <span class="nav-logo-img">
                    <img src='images/amlLogo.svg' style="height: 25px">
                </span>
                <span class="nav-logo-text">Documentation</span>
            </span>
        </div>
    </nav>
</div>

  {{ super() }}
{% endblock %}
